
   .main_container {
    background-color: white;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    height: max-content;
  }
  
  .h1 {
    color: #052a2a;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .product {
    margin: 10px;
    width: 100%;
    align-self: center;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .card-text,
  .card-title {
    color: #052a2a;
    padding: 0;
    margin: 0;
  }
  
  .nameprice {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .price-tag {
    background-color: #c4fa6f;
    color: #052a2a;
    font-size: 20px;
    border-radius: 4px;
  }
  
  .custom-card {
    /* position: relative; */
    background-color: white;
    width: 250px;
    height: 500px;
    box-shadow: 0 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5px 5px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .custom-card:hover {
    transform: translateY(-13px);
    box-shadow: 0 5px 10px #c0ff0c;
  }
  
  .img-container {
    width: 100%;
    height: 200px;
    object-fit: cover;
    place-content: center;
    display: flex;
  }
  
  .card-img-top {
    max-width: 100%;
    height: auto;
  }
  
  .custom-btn {
    width: 100%;
  }

  .custom-btn:hover {
    opacity: 0.8;
  }