* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* background-color: #c4fa6f; */
  }
  
  .background-image {
    background: url("../../assets/images/try.png") no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: 100% 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px; 
    position: relative;
  }
  
  .store-text {
    position: absolute;
    top: 40px; /* Adjust the top value to position the text vertically */
    left: 40px; /* Adjust the left value to position the text horizontally */
    font-size: 3rem; /* Adjust the font size to make it larger or smaller */
    font-weight: bold;
    color: #000000; 
  }
  

  .custom-card {
    transition: all 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Updated Shadow */
    border: 2px solid #052A2A; /* Updated Border color */
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-card:hover {
    box-shadow: 0 8px 16px rgba(5, 42, 42, 0.2); /* Enhanced Shadow */
    transform: scale(1.05);
  }
  
  .custom-btn {
    background-color: #052A2A;
    color: #d9edc4;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .custom-btn:hover {
    background-color: #526129;
  }

