/* src/ForgetStyle.css */

/* Apply basic styling to the body */
/* body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
} */

/* Center the main content */
.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: -20px;
  
}
.lock-icon {
  position: absolute;
  top: 50%; /* Adjust vertical positioning */
  left: -40px; /* Adjust horizontal positioning */
  transform: translateY(-50%);
  width: 30px; /* Adjust image width */
  height: auto; /* Maintain aspect ratio */
}


.container-box {
  /* border: 1px solid #e0e0e0; */
  box-shadow: 0 4px 8px;
  border-style: solid ;
  border-width: 3px;
  border-color: #c4fa6f;
  padding: 20px;
  
  border-radius: 8px;
  background-color: white;
  max-width: 100%; /* Adjust container width for responsiveness */
  width: 80%; /* Limit container width to 80% of the viewport width */
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
}

.sad-smiley {
  font-size: 100px;
  margin: 10px 0;
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
  gap: 10px; /* Add gap between buttons */
  justify-content: center; /* Center-align buttons on smaller screens */
  margin-top: 20px;
}

.btn-small {
  padding: 5px 15px;
  font-size: 14px;
  min-width: 120px; /* Ensure minimum width for buttons */
  background-color: #052a2a;
  color: #d9edc4;
}

.btn-transition {
  transition: background-color 0.3s, color 0.3s;
}

.btn-transition:hover {
  background-color: #526129;
}

/* Floating label styles */
.form-group {
  position: relative;
  margin-bottom: 20px;
}

.label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-out;
  font-size: 14px;
  
  color: #052a2a;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s ease-out;
}

.input:focus {
  border-width: 3px;
  border-color:  #c4fa6f;
  box-shadow: none;
}

/* Move label up when input is focused */
.input:focus + .label {
  top: 0;
  transform: translateY(-100%);
  font-size: 14px;
  color: #052a2a;
}

/* Limit container width on larger screens */
@media (min-width: 1200px) {
  .container-box {
    max-width: 400px; /* Adjust the max-width value as needed */
  }
}
@media (min-width: 820px) and (max-width: 1120px) {
  .container-box {
    max-width: 40%; /* Adjust the max-width value for this range */
  }
}
